/* ====================================
	Layout styles
	==================================== */


// Variables

$sidebar-width : 268px


// Styling

header.main-header
	padding: $block-padding 15px
	text-align: center





.sidebar
	background: $color-main
	width: 100%
	box-shadow: 0 0 3px rgba($color-black, .4)
	border-bottom: 2px solid $color-sec


	+above($bp-medium)
		width: $sidebar-width
		height: 100%
		overflow: auto
		+position( fixed, 0px null null 0px )
		border-right: 2px solid $color-sec
		border-bottom: none





.main-content
	margin-bottom: 40%
	

	+above($bp-medium)
		margin-left: $sidebar-width